# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\vladm\Desktop\Anul 2 calculatoare\Sem 2\Tehnici de programare fundamentale\Laboratoare\project_2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
